In [16]:
import pandas as pd
import numpy as np

data = pd.read_csv('data/2013-2019-data.csv')
old_data = pd.read_csv('data/2013-2019-data-bak.csv')
data_24 = pd.read_csv('data/cbb24.csv')

data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4957 entries, 0 to 4956
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   TEAM        4957 non-null   object
 1   CONF        4957 non-null   object
 2   G           4957 non-null   object
 3   W           4957 non-null   object
 4   ADJOE       4957 non-null   object
 5   ADJDE       4957 non-null   object
 6   BARTHAG     4957 non-null   object
 7   EFG_O       4957 non-null   object
 8   EFG_D       4957 non-null   object
 9   TOR         4957 non-null   object
 10  TORD        4957 non-null   object
 11  ORB         4957 non-null   object
 12  DRB         4957 non-null   object
 13  FTR         4957 non-null   object
 14  FTRD        4957 non-null   object
 15  2P_O        4957 non-null   object
 16  2P_D        4957 non-null   object
 17  3P_O        4957 non-null   object
 18  3P_D        4957 non-null   object
 19  ADJ_T       4957 non-null   object
 20  WAB         4957 non-null   object
 21  POSTSEASON  1250 non-null   object
 22  SEED        956 non-null    object
 23  YEAR        3523 non-null   float64
dtypes: float64(1), object(23)
memory usage: 929.6+ KB

              YEAR
count  3523.000000
mean   2017.828555
std       3.257824
min    2013.000000
25%    2015.000000
50%    2018.000000
75%    2021.000000
max    2023.000000